<header class="headerContainer">
    <div class="navButtonContainer font-barlow-regular">
      <nav>
        <ul>
          <!-- (niet ingelogd) nav naar home (logo) en about -->
          <li><a routerLink="home" routerLinkActive="active" >Fenrin</a></li>
          <li><a routerLink="about" routerLinkActive="active" >About</a></li>
          <!-- (ingelogd) + nav naar puntensysteem,playtime inzien en bouw progress -->
          <li><a routerLink="punten" routerLinkActive="active" >Punten</a></li>
          <li><a routerLink="playtime" routerLinkActive="active" >Playtime</a></li>
          <li><a routerLink="bouw" routerLinkActive="active" >Bouw</a></li>
        </ul>
      </nav>
    </div>

    <button class="loginButton font-barlow-regular">
      <span>Inloggen</span>
      <i class="fas fa-user"></i>
    </button>

</header>
