<div class="search-container ">
  <input
    type="text"
    placeholder="Zoek op naam..."
    [(ngModel)]="searchTerm"
    class="search-input font-barlow-regular"
  />
</div>
<div class="table-container font-barlow-regular">
  <h2>Playtime</h2>
  <div class="table-wrapper">
    <table class="styled-table">
      <thead>
      <tr>
        <th (click)="sortTable('name')">Naam <span *ngIf="sortColumn === 'name'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span></th>
        <th (click)="sortTable('playtimeThisWeek')">Playtime Deze Week <span *ngIf="sortColumn === 'playtimeThisWeek'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span></th>
        <th (click)="sortTable('totalPlaytime')">Totale Playtime<span *ngIf="sortColumn === 'totalPlaytime'">{{ sortDirection === 'asc' ? '▲' : '▼' }}</span></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of filteredPlayerPlaytime()">
        <td>{{ player.name }}</td>
        <td>{{ player.playtimeThisWeek }}</td>
        <td>{{ player.totalPlaytime }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="authService.hasRoles('ROLE_LEAD')" class="editButtonContainer">
  <button class="editButton font-barlow-regular" routerLink="./edit">Playtime aanpassen</button>
</div>
