<button class="back-btn" routerLink="../">
  <i class="fas fa-arrow-left"></i>
</button>

<div class="container font-barlow-regular">
  <h2>Sollicitaties</h2>
  <input type="text" [formControl]="searchControl" placeholder="Zoek sollicitatie..." class="search-bar">

  <ul class="application-list">
    <li *ngFor="let application of filteredApplications" class="application-item">
      <span>{{ application.name }}</span>

      <div class="buttons">
          <button (click)="viewApplication(application)" class="btn btn-edit">Bekijken</button>
          <button (click)="removeApplication(application.id)" class="btn">Verwijderen</button>
      </div>
    </li>
  </ul>
</div>

<app-modal class="font-barlow-regular application-modal" [isVisible]="isViewingApplication" (onClose)="stopViewingApplication()">
  <h2>{{ currentlyViewingApplication.name }}</h2>
  <ul class="currently-viewing-application">
    <li>
      <p><strong>Discord:</strong> {{ currentlyViewingApplication.discordName }}</p>
      <p><strong>Leeftijd:</strong> {{ currentlyViewingApplication.age }}</p>
      <p><strong>Over mij:</strong> {{ currentlyViewingApplication.aboutMe }}</p>
      <p><strong>Plus- en minpunten:</strong> {{ currentlyViewingApplication.strengthsAndWeaknesses }}</p>
      <p><strong>Waarom ik?</strong> {{ currentlyViewingApplication.whyYou }}</p>
      <p><strong>History:</strong> {{ currentlyViewingApplication.history }}</p>
      <p><strong>Overig:</strong> {{ currentlyViewingApplication.other }}</p>
    </li>
  </ul>
</app-modal>
